@model User;

@{
    ViewBag.Title = "Ohhhhhlalala le bo titre...";
}


<a asp-controller="User" asp-action="Index">Retour</a>

<h1>User @Model.Email</h1>
<h3>Il s'appelle @Model.Firstname</h3>
<h3>c'est l'id @Model.Id</h3>



