@model List<User>;


    <a asp-controller="User" asp-action="Create">Create New</a>

    <ul>
    @foreach (User u in @Model)
    {
        <li>
            <p>@u.Firstname @u.Lastname - <a asp-controller="User" asp-action="Details" asp-route-id="@u.Id">Afficher</a> </p>
        </li>
    }
    </ul>
